<div class="page__hd">
  <div class="page__title" style="width:65px; margin:0px auto;">
    <img style="width:65px; height:65px; border-radius:65px" src="{{ global.user.avatar }}" alt="{{ global.user.nickName }}"  />
  </div>
  <p class="page__desc" style="text-align: center">{{ global.user.nickName }}</p>
</div>
<div class="page button">
  <div class="page__bd page__bd_spacing" >
    <div class="button-sp-area">
      <nav>
        <a routerLink="/add" class="weui-btn weui-btn_plain-default btn-goto">添加预警</a>
        <a class="weui-btn weui-btn_plain-default btn-goto">预警列表</a>
      </nav>
    </div>
  </div>
  <div class="page__ft">
    <!--<a href="javascript:home()"><img src="./images/icon_footer.png" /></a>-->
  </div>
</div>
